[submodule "lib/expected"]
	path = lib/expected
	url = git@github.com:TartanLlama/expected.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
[submodule "lib/rapidyaml"]
	path = lib/rapidyaml
	url = git@github.com:biojppm/rapidyaml.git
[submodule "lib/variant"]
	path = lib/variant
	url = https://github.com/mpark/variant.git
[submodule "lib/optional"]
	path = lib/optional
	url = https://github.com/TartanLlama/optional.git
[submodule "lib/string-view-lite"]
	path = lib/string-view-lite
	url = https://github.com/martinmoene/string-view-lite.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "pattern_matching"]
	path = lib/pattern_matching
	url = https://github.com/sergio-eld/pattern_matching.git
