[submodule "lib/expected"]
	path = lib/expected
	url = git@github.com:TartanLlama/expected.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
[submodule "lib/rapidyaml"]
	path = lib/rapidyaml
	url = git@github.com:biojppm/rapidyaml.git
